*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nafbar{
    border: 2px solid rgb(173,59,26);
    padding: 30px;
    background-color: rgb(173,59,26);
    box-shadow: #f06413, 101px;
}
.nafbar ul{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.nafbar li a{
    text-decoration: none;
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
}



.Eurosection{
    border: 2px, solid rgb(173,59,26);
    padding: 80px;
    background-color: rgb(173,59,26);

}

.intro h1{
    font-family: "Fira Sans", sans-serif;
    font-weight: 25px;
    font-style: normal;
    color: white;
    font-size: 50px;
    margin-top: -30px;
    
}

.box1{
    border: 2px, solid white;
    padding: 1px;
    background-color: white;
    margin-left: 180px;
    margin-right: 1000px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 50px;

}

.box2{
    border: 2px, solid white;
    padding: 1px;
    background-color: white;
    margin-left: 350px;
    margin-right: 700px;
    border-radius: 10px;
    margin-top: -20px;
    margin-bottom: 50px;

}

.box3{
    border: 2px, solid white;
    padding: 1px;
    background-color: white;
    margin-left: 180px;
    margin-right: 1000px;
    border-radius: 10px;
    margin-top: -30px;
    margin-bottom: 50px;

}

.box4{
    border: 2px, solid white;
    padding: 1px;
    background-color: white;
    margin-left: 350px;
    margin-right: 700px;
    border-radius: 10px;
    margin-top: -20px;
    margin-bottom: 50px;

}
.score1 {
    margin-left: 10px;
    margin-top: 10px;
}

.score1 p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.score2 {
    margin-left: 35px;
    margin-top: 10px;
}

.score2 p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.score3 {
    margin-left: 35px;
    margin-top: 10px;
}

.score3 p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.score4 {
    margin-left: 80px;
    margin-top: 10px;
}

.score4 p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}







.applynow button{
    width: 200px;
    height: 50px;
    background-color: #4dbf67;
    margin-top: 30px;
    border-style: none;
    border-radius: 10px;
    margin-left: 250px;

}

.applynow button:hover{
    width: 200px;
    background-color: #bbcf32;
    margin-top: 30px;
    border-style: none;
    border-radius: 10px;
}

.applynow button a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.applynow button a:hover{
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.trans{
    margin-left: 800px;
    margin-top: -400px;
}




.formsection{
    border: 5px solid, #ea7700;
    background-color: #ea7700;
    padding: 50px;
}

.title{
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 100px;
    color: black;
    border: 2px, solid, white;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    
}

.title h2{
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-left: 50px;
    
}

.term{
    border: 4px solid olive;
    padding: 20px;
    background-color: olivedrab;
    margin-left: 700px;
    margin-right: 100px;
    border-radius: 5px;
    margin-top: -150px;
}


.model{
    margin-right: 450px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 50px;
    margin-top: 20px;
}
                                                                


.term h2{
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  color: black;
  margin-left: 40px;
}

.term button{
    background-color: red;
    width: 120px;
    height: 40px;
    border: none;
    margin-left: 35px;
    margin-top: 5px;
    border-radius: 10px;
}

.term button a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.middle{
    border: 2px solid, #e2e2d5;
    background-color: #f2f2eb;
    padding: 20px;
}

.container{
    display: flex;
}
.ploan{
    margin-top: 30px;
    
}
.ploan h3{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

.ploan p{
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    
}

.ploan ul li{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: -20px;
}

.bloan{
    margin-top: 30px;
    margin-left: 80px;
}
.bloan h3{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

.bloan p{
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
}
.bloan ul li{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: -20px;
}

.mloan{
    margin-top: 30px;
    margin-left: 80px;
}

.mloan h3{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

.mloan p{
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
}

.mloan ul li{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: -20px;
}

.flex2{
    display: flex;
    gap: 20px;
}

.aloan{
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}


.aloan h3{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    
}

.aloan p{
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    margin-right: 900px;  
}


.aloan ul li{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: -20px;
}

.eloan{
    margin-top: 30px;
    margin-left: -900px;
    
}

.eloan h3{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

.eloan p{
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    margin-right: 500px;
    
}

.eloan ul li{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: -20px;
}

.footer{
    border: 2px solid #e2e2d5;
    background-color: #e2e2d5;
    padding: 20px;
}

.apply{
    margin-top: 100px;
}

.apply h3{
    margin-left: 600px;
    color: black;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.apply h4{
    margin-left: 605px;
    color: black;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    
}

.apply button{
    margin-left: 630px;
    width: 150px;
    height: 50px;
    background-color: rgb(248,80,27);
    border-radius: 10px;
    border: none;
}

.apply button a{
    text-decoration: none;
    color: white;
}

.footer2{
    border: 2px solid rgb(28,30,30);
    background-color: rgb(28,30,30);
    padding: 20px;
}

.wrap{
    display: ;
}

.empower h3{
    color: white;
    font-size: 35px;
    margin-left: 100px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 50px;
}

.since p{
    color: white;
    margin-left: 100px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    
}
.product{
    justify-items: right;
    margin-top: -70px;
    margin-right: 100px;
}

.product ul{
    list-style: none;
}
.product ul li a{
    text-decoration: none;
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}




.approval h3{
    color: white;
    margin-left: 550px;
    margin-top: -40px;
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;

}

/* .join h3{
    color: white;
} */
.end{
    display: flex;
    gap: 45px;
}

.proud h3{
    color: white;
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 100px;


}

.transparent1 p{
    color: white;
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 10px;
}

.transparent2 p{
    color: white;
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 55px;
}



















@media screen and (max-width: 480px){
    .nafbar ul{
        list-style: none;
        display: flex;
        gap: 8px;
        justify-content: center;
        margin-left: -20px;
    }

    .nafbar li a{
    text-decoration: none;
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 12px;
}

.Eurosection{
    border: 2px, solid rgb(173,59,26);
    padding: 70px;
    background-color: rgb(173,59,26);

}

.intro h1{
    font-family: "Fira Sans", sans-serif;
    font-weight: 25px;
    font-style: normal;
    color: white;
    font-size: 55px;
    margin-top: -60px;
    margin-left: -40px;
    margin-right: -50px;
    
}

.box1{
    border: 2px, solid white;
    padding: 0px;
    background-color: white;
    margin-left: -30px;
    margin-right: -20px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 50px;

}

.box2{
    border: 2px, solid white;
    padding: 0px;
    background-color: white;
    margin-left: -30px;
    margin-right: -20px;
    border-radius: 10px;
    margin-top: -20px;
    margin-bottom: 50px;

}

.box3{
    border: 2px, solid white;
    padding: 0px;
    background-color: white;
    margin-left: -30px;
    margin-right: -20px;
    border-radius: 10px;
    margin-top: -20px;
    margin-bottom: 50px;

}

.box4{
    border: 2px, solid white;
    padding: 0px;
    background-color: white;
    margin-left: -30px;
    margin-right: -20px;
    border-radius: 10px;
    margin-top: -20px;
    margin-bottom: 50px;

}
.score1 {
    margin-left: 70px;
    margin-top: 10px;
}

.score1 p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.score2 {
    margin-left: 35px;
    margin-top: 10px;
}

.score2 p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.score3 {
    margin-left: 100px;
    margin-top: 10px;
}

.score3 p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.score4 {
    margin-left: 90px;
    margin-top: 10px;
}

.score4 p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}







.applynow button{
    width: 200px;
    height: 50px;
    background-color: #4dbf67;
    margin-top: 30px;
    border-style: none;
    border-radius: 10px;
    margin-left: 20px;

}

.applynow button:hover{
    width: 200px;
    background-color: #bbcf32;
    margin-top: 30px;
    border-style: none;
    border-radius: 10px;
}

.applynow button a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.applynow button a:hover{
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.trans{
    margin-left: -80px;
    margin-top: -340px;
    display: none;
}




.formsection{
    border: 5px solid, #ea7700;
    background-color: #ea7700;
    padding: 50px;
}

.title{
    margin-top: -10px;
    margin-left: -35px;
    margin-right: -35px;
    color: black;
    border: 2px, solid, white;
    padding: 20px;
    background-color: white;
    border-radius: -10px;
}

.title h2{
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-left: 0px;
    
}

.term{
    border: 4px solid olive;
    padding: 20px;
    background-color: olivedrab;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.model{
    margin-right: 0px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 0px;
    margin-top: 10px;
}
      


.term h2{
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  color: black;
  margin-left: 60px;
}

.term button{
    background-color: red;
    width: 120px;
    height: 40px;
    border: none;
    margin-left: 60px;
    margin-top: 5px;
    border-radius: 10px;
}

.term button a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.middle{
    border: 2px solid, #f2f2eb;
    background-color: #f2f2eb;
    padding: 20px;
}

.container{
    display: block;
}

.ploan{
    margin-top: 30px;
    
}

.ploan h3{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    margin-left: 45px;
}

.ploan p{
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    
}

.ploan ul li{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: -10px;
}

.bloan{
    margin-top: 40px;
    margin-left: 10px;
}


.bloan h3{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    margin-left: 35px;
}

.bloan p{
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    margin-left: -10px;
}

.bloan ul li{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: -20px;
}

.mloan{
    margin-top: 40px;
    margin-left: 45px;
}

.mloan h3{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    margin-left: -10px;
 
}

.mloan p{
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    margin-left: -40px;
}


.mloan ul li{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: -50px;
}

.flex2{
    display: block;
}

.aloan{
    margin-top: 40px;
    
}


.aloan h3{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    margin-left: -25px;

}


.aloan p{
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    margin-left: -60px;
    margin-right: -80px;
}


.aloan ul li{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: -75px;
    margin-right: -80px;
}

.eloan{
    margin-top: 40px;
    margin-left: 50px;
    
}

.eloan h3{
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
}

.eloan p{
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    margin-left: -30px;
    margin-right: 30px;
    
}

.eloan ul li{
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: -40px;
    margin-right: 30px;
}

.footer{
    border: 2px solid #e2e2d5;
    background-color: #e2e2d5;
    padding: 20px;
}

.apply{
    margin-top: 80px;
}

.apply h3{
    margin-left: 75px;
    color: black;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.apply h4{
    margin-left: 60px;
    color: black;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    
}

.apply button{
    margin-left: 95px;
    width: 150px;
    height: 50px;
    background-color: rgb(248,80,27);
    border-radius: 10px;
    border: none;
}

.apply button a{
    text-decoration: none;
    color: white;
}

.footer2{
    border: 2px solid rgb(28,30,30);
    background-color: rgb(28,30,30);
    padding: 20px;
}

.wrap{
    display: block;
}

.empower h3{
    color: white;
    font-size: 35px;
    margin-left: 30px;
    margin-right: 100px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-top: 50px;
}

.since p{
    color: white;
    margin-left: 30px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    
}
.product{
    justify-items: left;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 0px;
}

.product ul{
    list-style: none;
}
.product ul li a{
    text-decoration: none;
    color: white;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}




.approval h3{
    color: white;
    margin-left: 30px;
    margin-top: 40px;
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;

}

/* .join h3{
    color: white;
} */
.end{
    display: block;
    
}


.proud h3{
    color: white;
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 30px;
    margin-top: 50px;
}

.transparent1 p{
    color: white;
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 30px;
    margin-top: 20px;
}

.transparent2 p{
    color: white;
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 30px;
}




}


